In [1]:
#calculate percentage of students with a passing grade
#calculate percentage of women with a passing grade
#average hours of study for all students
#average of hours studied for students with a passing grade

In [15]:
import pandas as pd
import numpy as np

filename = "datasets/algebradata.csv"
df = pd.read_csv(filename)

df.head()

     Fname     Lname Gender Grade  Hours of Study
0     Mary  Ettienne      F     B              16
1  Charles    Looner      M     F               8
2    Betty  Franklin      F     A              24
3    Roger   Withers      M     C               5
4     John   Mulgrew      M     A               5

In [52]:
passing = ['A', 'B', 'C', 'D']
failing = ['F']

passing_students = df['Grade'] != 'F'
failing_students = df['Grade'] == 'F'
total_students = df['Grade'].count()

#passing_students = df['Grade'].isin(passing).count()

total_pass = passing_students.sum()
#failing_students.sum()
percent_pass = (float(total_pass) / total_students) * 100

'{:.2f}%'.format(percent_pass)
#total_pass
#total_students
#total_students.dtype

'91.69%'

In [43]:
women = df['Gender'] == 'F'

women_pass = passing_students[women].sum()

percent_women_pass = (float(women_pass)/total_students) * 100

#percent_women_pass
'{:.2f}%'.format(percent_women_pass)
#women_count = women.value_counts()
#women_pass.sum()

'49.45%'

In [44]:
avg_study = df['Hours of Study'].mean()

avg_study

15.115115115115115

In [53]:
avg_study_pass = df['Hours of Study'][passing_students].mean()

#avg_study_fail = df['Hours of Study'][failing_students].mean()
#avg_study_fail

avg_study_pass

6.72289156626506