In [ ]:
#average cars sold per month
#max cars sold per month
#min cars sold per month
#average cars sold per month by gender
#average hours worked by people selling > 3 cars per month
#average cars sold per month based on if they were/weren't trained
#what do you think is the best indicator of whether or not somebody is a good salesperson?

In [3]:
import pandas as pd
import numpy as np

filename = pd.read_csv("datasets/axisdata.csv")

df = pd.DataFrame(filename)

df.head()

,Fname,Lname,Gender,Hours Worked,SalesTraining,Years Experience,Cars Sold
0,Jada,Walters,F,39,N,3,2
1,Nicole,Henderson,F,46,N,3,6
2,Tanya,Moore,F,42,Y,4,6
3,Ronelle,Jackson,F,38,Y,5,3
4,Brad,Sears,M,33,N,4,2

In [4]:
avg_sales = df['Cars Sold'].mean()

avg_sales

3.9229229229229228

In [6]:
max_sales = df['Cars Sold'].max()

max_sales

7

In [8]:
min_sales = df['Cars Sold'].min()

min_sales

1

In [16]:
sales_by_gender = df['Cars Sold'].groupby(df['Gender'])

sales_by_gender.mean()

Gender
F    3.760736
M    4.078431
Name: Cars Sold, dtype: float64

In [19]:
avg_hours_3sales = df['Hours Worked'][df['Cars Sold'] > 3]

avg_hours_3sales.mean()

34.740237691001695

In [22]:
sales_by_training = df['Cars Sold'].groupby(df['SalesTraining'])

sales_by_training.mean()

SalesTraining
N    3.573850
Y    4.168942
Name: Cars Sold, dtype: float64

In [23]:
sales_by_experience = df['Cars Sold'].groupby(df['Years Experience'])

sales_by_experience.mean()

Years Experience
1    3.732240
2    3.840580
3    4.014151
4    4.020513
5    3.990099
Name: Cars Sold, dtype: float64

In [24]:
sales_by_hours = df['Cars Sold'].groupby(df['Hours Worked'])

sales_by_hours.mean()

Hours Worked
20    3.264706
21    2.897436
22    3.560976
23    3.296296
24    3.571429
25    3.575758
26    3.548387
27    3.394737
28    4.032258
29    3.780488
30    3.694444
31    4.135135
32    4.297297
33    3.736842
34    3.666667
35    3.951220
36    3.933333
37    3.857143
38    4.261905
39    4.105263
40    4.151515
41    4.171429
42    4.081081
43    4.605263
44    4.315789
45    4.400000
46    4.419355
47    4.655172
48    4.666667
Name: Cars Sold, dtype: float64

Although there isn't a breakout feature that influences someone being a good salesperson, it seems that the more hours you worked, the more cars you sold. Also, being male, having training, and about 3-4 years of experience were slight influences on the number of cars a saleperson sold per month.