In [1]:
import pandas as pd
import numpy as np

filename = "Nashville_housing_data_2013_2016.csv"
df = pd.read_csv(filename)

In [ ]:
df.head()

In [2]:
#remove useless or duplicate info columns
df = df.drop(['Unnamed: 0', 'Unnamed: 0.1', 'Parcel ID','State', 'City', 'Legal Reference', 'image', 'Tax District', 'Sold As Vacant', 'Suite/ Condo   #', 'Property City', 'Multiple Parcels Involved in Sale', 'Owner Name', 'Address'], axis = 1)

In [ ]:
df.count()

In [3]:
#copied from Maria Victoria's notebook

residence =['RESIDENTIAL CONDO', 'SINGLE FAMILY', 'APARTMENT: LOW RISE (BUILT SINCE 1960)','DUPLEX',
       'CONDO', 'ZERO LOT LINE', 'RESIDENTIAL COMBO/MISC', 'TRIPLEX','QUADPLEX',
                'DORMITORY/BOARDING HOUSE', 'MOBILE HOME', 'PARSONAGE']
    
commerical = ['SMALL SERVICE SHOP', 'TERMINAL/DISTRIBUTION WAREHOUSE',
       'NON-PROFIT CHARITABLE SERVICE',
       'METRO OTHER THAN OFC, SCHOOL,HOSP, OR PARK', 'NIGHTCLUB/LOUNGE',
       'MORTUARY/CEMETERY', 'PARKING LOT','OFFICE BLDG (ONE OR TWO STORIES)', 
        'CLUB/UNION HALL/LODGE', 'LIGHT MANUFACTURING',
       'ONE STORY GENERAL RETAIL STORE', 'DAY CARE CENTER','CHURCH']
    
vacant = ['VACANT RES LAND', 'VACANT COMMERCIAL LAND', 'VACANT RURAL LAND','VACANT ZONED MULTI FAMILY', 
              'VACANT RESIDENTIAL LAND','VACANT RESIENTIAL LAND']
    
other = ['GREENBELT','GREENBELT/RES\nGRRENBELT/RES']

In [4]:
#create dataframe with only rows that are residence
df_housing = df[(df['Land Use'].isin(residence))]

In [6]:
df_housing.head()
#df_housing.count()

,Land Use,Property Address,Sale Date,Sale Price,Acreage,Neighborhood,Land Value,Building Value,Total Value,Finished Area,Foundation Type,Year Built,Exterior Wall,Grade,Bedrooms,Full Bath,Half Bath
0,RESIDENTIAL CONDO,1208 3RD AVE S,2013-01-24,132000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SINGLE FAMILY,1802 STEWART PL,2013-01-11,191500,0.17,3127.0,32000.0,134400.0,168300.0,1149.00000,PT BSMT,1941.0,BRICK,C,2.0,1.0,0.0
2,SINGLE FAMILY,2761 ROSEDALE PL,2013-01-18,202000,0.11,9126.0,34000.0,157800.0,191800.0,2090.82495,SLAB,2000.0,BRICK/FRAME,C,3.0,2.0,1.0
3,SINGLE FAMILY,224 PEACHTREE ST,2013-01-18,32000,0.17,3130.0,25000.0,243700.0,268700.0,2145.60001,FULL BSMT,1948.0,BRICK/FRAME,B,4.0,2.0,0.0
4,SINGLE FAMILY,316 LUTIE ST,2013-01-23,102000,0.34,3130.0,25000.0,138100.0,164800.0,1969.00000,CRAWL,1910.0,FRAME,C,2.0,1.0,0.0

In [ ]:
#house_type will be one of these 2 lists
apt = ['RESIDENTIAL CONDO', 'APARTMENT: LOW RISE (BUILT SINCE 1960)','DUPLEX',
       'CONDO','RESIDENTIAL COMBO/MISC', 'TRIPLEX','QUADPLEX', 'DORMITORY/BOARDING HOUSE']
house = ['ZERO LOT LINE', 'SINGLE FAMILY', 'MOBILE HOME', 'PARSONAGE']

#use list index # when calling house_cat function
house_str = ['Apt', 'House']

#def res_type(house_type, house_str):
 #   df_housing['Resident Type'] = df_housing['Land Use'].where(df['Land Use'].isin(house_type), house_str)
#    df['Resident Type'] = np.where(df['Land Use'].isin(house_type), house_str)
    #df_housing['Land Use'].isin(house_type)['Resident Type'] = house_str
  #  return df_housing
#    df_housing.loc[(df_housing['Land Use'].isin(house_type)), 'Resident Type'] = house_str

#    for x in df_housing['Land Use']:
#        if x.isin(house_type):
#            df_housing['Resident Type'] = house_str    #Resident Type is new column

In [ ]:
#current working code
def res_type(df_housing, house_type, house_str):
    df_housing.loc[df_housing['Land Use'].isin(house_type), 'Resident Type'] = house_str
#    df_housing.loc[df_housing['Land Use'].isin(apt), 'Resident Type'] = 'Apt'
 #   df_housing.loc[df_housing['Land Use'].isin(house), 'Resident Type'] = 'House'
    return df_housing
    #df_housing['Land Use'].isin(house):
    #    return 'House'
    
#df_housing['Resident Type'] = df_housing.apply(res_type, axis=1)
res_type(df_housing, apt, house_str[0])
res_type(df_housing, house, house_str[1])

In [ ]:
df_housing['Resident Type'].head()

In [ ]:
#alternate working code
apt = ['RESIDENTIAL CONDO', 'APARTMENT: LOW RISE (BUILT SINCE 1960)','DUPLEX',
       'CONDO','RESIDENTIAL COMBO/MISC', 'TRIPLEX','QUADPLEX', 'DORMITORY/BOARDING HOUSE']
house = ['ZERO LOT LINE', 'SINGLE FAMILY', 'MOBILE HOME', 'PARSONAGE']

def res_type(df_housing):
    df_housing['Resident Type'] = np.where(df_housing['Land Use'].isin(apt), 'Apt', 'House')
 #   df_housing['Resident Type'] = df_housing['Land Use'].where(df['Land Use'].isin(house), 'House')
    return df_housing

In [ ]:
res_type(df_housing)

df_housing['Resident Type'].head()

In [ ]:
df_housing['Land Use'].isin(apt)

In [ ]:
res_type(apt, house_str[0])
res_type(house, house_str[1])

df_housing['Resident Type'].head()

In [ ]:
null_full_bath = pd.isnull(df_housing['Full Bath']).sum()
#null_half_bath = sum(pd.isnull(df_housing['Half Bath']))

#null_baths = null_full_bath + null_half_bath

In [ ]:
null_full_bath

In [ ]:
df_housing.shape

In [ ]:
#null_baths = df_housing.loc[(pd.isnull(df_housing['Full Bath'])) & pd.isnull(df_housing['Half Bath'])]

#df_withbaths = df_housing.dropna(df_housing['Full Bath'])
#df_withbaths.head()

In [ ]:
#df_withbaths = df_housing.drop(pd.isnull(df_housing['Full Bath']) & pd.isnull(df_housing['Half Bath']))

In [ ]:
#current working code
df_withbaths = df_housing.dropna(axis=0, subset=['Full Bath'])
df_withbaths

In [ ]:
df_housing.groupby(['Land Use']).count()

In [ ]:
df_withbaths.groupby(['Land Use']).count()

#observation: all condos got dropped for having no full baths

In [ ]:
df_housing.describe()

In [ ]:
#df_filled = df_housing.fillna(0)
#df_housing['Neighborhood'] = df_housing.loc[:, ['Neighborhood']].fillna(value=0, inplace=True)
#df_housing['Neighborhood'] = df_housing.loc[:, ['Neighborhood']].astype(int)
#df_housing['Neighborhood'] = df_housing['Neighborhood'].astype(int)
df['Neighborhood'] = df['Neighborhood'].replace(np.nan, 0)
df_housing['Neighborhood'].head()

In [ ]:
#turn Neighborhood column into category (string variable) instead of numerical value
df_housing = df_housing.loc[:, ['Neighborhood']].astype(str)

df_housing['Neighborhood'].head()

In [8]:
#make dataframe containing only Single Family houses
#delete rows w/ no property address
#find duplicate property address; only keep most current sale
#delete rows with no neighborhood (maybe?)
#convert neighborhood type from float->int->str (make neighborhood categorical)
#in Tableau, make chart showing avg sale price of single family home by neighborhood

df_SingleFamily = df_housing[df_housing['Land Use'] == 'SINGLE FAMILY']

df_SingleFamily.count()

Land Use            34268
Property Address    34197
Sale Date           34268
Sale Price          34268
Acreage             21877
Neighborhood        21877
Land Value          21877
Building Value      21877
Total Value         21877
Finished Area       21390
Foundation Type     21389
Year Built          21390
Exterior Wall       21390
Grade               21390
Bedrooms            21387
Full Bath           21389
Half Bath           21289
dtype: int64

In [14]:
df_SingleFamily.tail()

,Land Use,Property Address,Sale Date,Sale Price,Acreage,Neighborhood,Land Value,Building Value,Total Value,Finished Area,Foundation Type,Year Built,Exterior Wall,Grade,Bedrooms,Full Bath,Half Bath
56605,SINGLE FAMILY,5004 SUNSHINE DR,2016-10-26,214000,0.27,6328.0,25000.0,142400.0,167400.0,2421.0,SLAB,1996.0,BRICK/FRAME,C,3.0,3.0,0.0
56606,SINGLE FAMILY,6724 BIRCHBROOK DR,2016-10-31,178000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56607,SINGLE FAMILY,4964 HICKORY WOODS E,2016-10-28,236000,0.23,6328.0,25000.0,159300.0,184300.0,3117.0,SLAB,1995.0,BRICK/FRAME,C,3.0,3.0,0.0
56614,SINGLE FAMILY,1625 5TH AVE N,2016-10-28,466000,0.15,126.0,40000.0,204100.0,256000.0,1637.0,CRAWL,2004.0,FRAME,B,3.0,2.0,1.0
56615,SINGLE FAMILY,1614 5TH AVE N,2016-10-26,685000,0.19,126.0,40000.0,295900.0,351600.0,2478.0,CRAWL,2005.0,FRAME,B,4.0,3.0,1.0

In [23]:
df_SingleFamily = df_SingleFamily.dropna(subset=['Property Address'])
df_SingleFamily.count()

Land Use            34197
Property Address    34197
Sale Date           34197
Sale Price          34197
Acreage             21875
Neighborhood        21875
Land Value          21875
Building Value      21875
Total Value         21875
Finished Area       21388
Foundation Type     21387
Year Built          21388
Exterior Wall       21388
Grade               21388
Bedrooms            21385
Full Bath           21387
Half Bath           21287
dtype: int64

In [22]:
address = df_SingleFamily["Property Address"]
df_SingleFamily[address.isin(address[address.duplicated()])].sort_values("Property Address")

,Land Use,Property Address,Sale Date,Sale Price,Acreage,Neighborhood,Land Value,Building Value,Total Value,Finished Area,Foundation Type,Year Built,Exterior Wall,Grade,Bedrooms,Full Bath,Half Bath
9305,SINGLE FAMILY,1000 11TH AVE N,2013-10-18,85028,0.10,126.0,40000.0,112900.0,152900.0,1078.00000,CRAWL,2001.0,BRICK,C,3.0,2.0,0.0
12712,SINGLE FAMILY,1000 11TH AVE N,2014-02-28,210000,0.10,126.0,40000.0,112900.0,152900.0,1078.00000,CRAWL,2001.0,BRICK,C,3.0,2.0,0.0
6026,SINGLE FAMILY,1000 LIVINGSTON ST,2013-07-30,61500,0.34,6226.0,17000.0,76900.0,97500.0,1070.00000,CRAWL,1934.0,FRAME,D,2.0,1.0,0.0
33362,SINGLE FAMILY,1000 LIVINGSTON ST,2015-06-16,119900,0.34,6226.0,17000.0,76900.0,97500.0,1070.00000,CRAWL,1934.0,FRAME,D,2.0,1.0,0.0
28590,SINGLE FAMILY,1000 OAK RIDGE CT,2015-03-17,110000,0.28,6031.0,25000.0,85600.0,110600.0,1178.00000,CRAWL,1994.0,BRICK/FRAME,C,3.0,2.0,0.0
35434,SINGLE FAMILY,1000 OAK RIDGE CT,2015-07-30,133800,0.28,6031.0,25000.0,85600.0,110600.0,1178.00000,CRAWL,1994.0,BRICK/FRAME,C,3.0,2.0,0.0
13499,SINGLE FAMILY,1000 SEYMOUR AVE,2014-03-04,135000,0.26,3628.0,40300.0,189600.0,241700.0,1858.00000,CRAWL,1935.0,FRAME,C,3.0,2.0,0.0
25226,SINGLE FAMILY,1000 SEYMOUR AVE,2014-12-08,335000,0.26,3628.0,40300.0,189600.0,241700.0,1858.00000,CRAWL,1935.0,FRAME,C,3.0,2.0,0.0
1440,SINGLE FAMILY,1000 SHALLOWBROOK TRL N,2013-03-22,150000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33744,SINGLE FAMILY,1000 SHALLOWBROOK TRL N,2015-06-04,180000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13466,SINGLE FAMILY,1001 DOZIER PL,2014-03-07,82000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13467,SINGLE FAMILY,1001 DOZIER PL,2014-03-07,105000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7825,SINGLE FAMILY,1001 GRAYBAR LN,2013-09-16,286500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11573,SINGLE FAMILY,1001 GRAYBAR LN,2014-01-27,215000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14542,SINGLE FAMILY,1001 MCCLURKAN AVE,2014-04-07,105000,0.17,3628.0,30000.0,257100.0,289300.0,1875.00000,PT BSMT,1945.0,FRAME,B,3.0,2.0,0.0
22872,SINGLE FAMILY,1001 MCCLURKAN AVE,2014-10-31,314900,0.17,3628.0,30000.0,257100.0,289300.0,1875.00000,PT BSMT,1945.0,FRAME,B,3.0,2.0,0.0
5872,SINGLE FAMILY,1001 MCMAHAN AVE,2013-07-31,264900,0.34,7332.0,30000.0,168300.0,205300.0,1917.50000,PT BSMT,1940.0,BRICK,C,3.0,2.0,0.0
40738,SINGLE FAMILY,1001 MCMAHAN AVE,2015-11-24,349900,0.34,7332.0,30000.0,168300.0,205300.0,1917.50000,PT BSMT,1940.0,BRICK,C,3.0,2.0,0.0
35119,SINGLE FAMILY,1002 ELLISTON ST,2015-07-20,125000,0.08,6226.0,17000.0,112200.0,129200.0,1396.35999,PT BSMT,1930.0,FRAME,D,3.0,2.0,NaN
47301,SINGLE FAMILY,1002 ELLISTON ST,2016-04-06,152000,0.08,6226.0,17000.0,112200.0,129200.0,1396.35999,PT BSMT,1930.0,FRAME,D,3.0,2.0,NaN
26505,SINGLE FAMILY,1003 BRILEY PKWY,2015-02-12,80000,0.22,3026.0,17000.0,64600.0,81600.0,834.00000,CRAWL,1949.0,FRAME,C,2.0,2.0,0.0
27354,SINGLE FAMILY,1003 BRILEY PKWY,2015-02-12,80000,0.22,3026.0,17000.0,64600.0,81600.0,834.00000,CRAWL,1949.0,FRAME,C,2.0,2.0,0.0
23964,SINGLE FAMILY,1003 HORSESHOE DR,2014-11-14,181000,0.25,7332.0,30000.0,100000.0,130000.0,1492.00000,CRAWL,1948.0,BRICK,C,3.0,1.0,0.0
2141,SINGLE FAMILY,1003 HORSESHOE DR,2013-04-09,127000,0.25,7332.0,30000.0,100000.0,130000.0,1492.00000,CRAWL,1948.0,BRICK,C,3.0,1.0,0.0
36699,SINGLE FAMILY,1003 STOCKELL ST,2015-08-28,399000,0.19,2026.0,27000.0,291200.0,331100.0,2546.75000,CRAWL,2015.0,FRAME,B,4.0,3.0,0.0
17062,SINGLE FAMILY,1003 STOCKELL ST,2014-06-20,80000,0.19,2026.0,27000.0,291200.0,331100.0,2546.75000,CRAWL,2015.0,FRAME,B,4.0,3.0,0.0
21496,SINGLE FAMILY,1003 W GREENWOOD AVE,2014-09-05,349000,0.35,3628.0,29900.0,226900.0,267100.0,2252.50000,CRAWL,1920.0,CONC BLK,C,5.0,3.0,0.0
10909,SINGLE FAMILY,1003 W GREENWOOD AVE,2013-12-19,172550,0.35,3628.0,29900.0,226900.0,267100.0,2252.50000,CRAWL,1920.0,CONC BLK,C,5.0,3.0,0.0
34105,SINGLE FAMILY,1004 BLAIRFIELD DR,2015-07-31,218700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6504,SINGLE FAMILY,1004 BLAIRFIELD DR,2013-08-14,195000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30058,SINGLE FAMILY,937 PHILLIPS ST,2015-04-08,110000,0.08,126.0,40000.0,213400.0,254700.0,1351.00000,CRAWL,1920.0,BRICK,C,3.0,2.0,0.0
38760,SINGLE FAMILY,937 PHILLIPS ST,2015-09-11,300000,0.08,126.0,40000.0,213400.0,254700.0,1351.00000,CRAWL,1920.0,BRICK,C,3.0,2.0,0.0
33535,SINGLE FAMILY,937 SHAUNA DR,2015-06-19,125000,0.36,4131.0,24000.0,86600.0,116200.0,1283.00000,CRAWL,1954.0,BRICK,C,3.0,1.0,0.0
33534,SINGLE FAMILY,937 SHAUNA DR,2015-06-19,145000,0.36,4131.0,24000.0,86600.0,116200.0,1283.00000,CRAWL,1954.0,BRICK,C,3.0,1.0,0.0
43265,SINGLE FAMILY,940 RIVERSIDE DR,2016-01-15,221167,0.22,3629.0,30000.0,112700.0,142700.0,1308.44000,CRAWL,1953.0,BRICK,C,3.0,2.0,0.0
1295,SINGLE FAMILY,940 RIVERSIDE DR,2013-03-14,140000,0.22,3629.0,30000.0,112700.0,142700.0,1308.44000,CRAWL,1953.0,BRICK,C,3.0,2.0,0.0
22861,SINGLE FAMILY,942 ONEIDA AVE,2014-10-03,124000,0.23,3426.0,15000.0,130400.0,147000.0,1261.00000,PT BSMT,1948.0,FRAME,C,4.0,2.0,0.0
28278,SINGLE FAMILY,942 ONEIDA AVE,2015-03-30,229000,0.23,3426.0,15000.0,130400.0,147000.0,1261.00000,PT BSMT,1948.0,FRAME,C,4.0,2.0,0.0
21427,SINGLE FAMILY,942 ONEIDA AVE,2014-09-15,105000,0.23,3426.0,15000.0,130400.0,147000.0,1261.00000,PT BSMT,1948.0,FRAME,C,4.0,2.0,0.0
1987,SINGLE FAMILY,944 HARPETH BEND DR,2013-04-29,178500,0.35,6737.0,40500.0,132700.0,173200.0,1674.00000,CRAWL,1984.0,FRAME,C,4.0,1.0,1.0
40467,SINGLE FAMILY,944 HARPETH BEND DR,2015-11-18,218900,0.35,6737.0,40500.0,132700.0,173200.0,1674.00000,CRAWL,1984.0,FRAME,C,4.0,1.0,1.0
40834,SINGLE FAMILY,944 MCFERRIN AVE,2015-11-30,230000,0.18,3628.0,35000.0,112600.0,147600.0,1196.00000,FULL BSMT,1940.0,FRAME,C,3.0,1.0,0.0
7155,SINGLE FAMILY,944 MCFERRIN AVE,2013-08-09,145500,0.18,3628.0,35000.0,112600.0,147600.0,1196.00000,FULL BSMT,1940.0,FRAME,C,3.0,1.0,0.0
15697,SINGLE FAMILY,944 SEYMOUR AVE,2014-05-16,142500,0.17,3628.0,35000.0,189200.0,229300.0,2017.50000,CRAWL,1925.0,FRAME,C,3.0,2.0,1.0
39583,SINGLE FAMILY,944 SEYMOUR AVE,2015-10-01,435000,0.17,3628.0,35000.0,189200.0,229300.0,2017.50000,CRAWL,1925.0,FRAME,C,3.0,2.0,1.0
19998,SINGLE FAMILY,944 SEYMOUR AVE,2014-08-08,213500,0.17,3628.0,35000.0,189200.0,229300.0,2017.50000,CRAWL,1925.0,FRAME,C,3.0,2.0,1.0
25223,SINGLE FAMILY,944 SEYMOUR AVE,2014-12-22,220000,0.17,3628.0,35000.0,189200.0,229300.0,2017.50000,CRAWL,1925.0,FRAME,C,3.0,2.0,1.0
45475,SINGLE FAMILY,951 CAHAL AVE,2016-03-25,320000,0.23,3628.0,30000.0,196300.0,226300.0,1848.00000,PT BSMT,1933.0,BRICK,C,4.0,2.0,1.0
716,SINGLE FAMILY,951 CAHAL AVE,2013-02-28,289900,0.23,3628.0,30000.0,196300.0,226300.0,1848.00000,PT BSMT,1933.0,BRICK,C,4.0,2.0,1.0
51386,SINGLE FAMILY,96 FAIN ST,2016-07-15,7500,0.11,1426.0,7500.0,31500.0,42000.0,1095.00000,CRAWL,1900.0,FRAME,D,2.0,1.0,0.0
51387,SINGLE FAMILY,96 FAIN ST,2016-07-20,30000,0.11,1426.0,7500.0,31500.0,42000.0,1095.00000,CRAWL,1900.0,FRAME,D,2.0,1.0,0.0
12748,SINGLE FAMILY,97 ORIEL AVE,2014-03-21,77000,0.34,3130.0,18000.0,90600.0,108600.0,1324.00000,CRAWL,1951.0,FRAME,C,3.0,1.0,0.0
23303,SINGLE FAMILY,97 ORIEL AVE,2014-11-19,174900,0.34,3130.0,18000.0,90600.0,108600.0,1324.00000,CRAWL,1951.0,FRAME,C,3.0,1.0,0.0
13814,SINGLE FAMILY,97 ORIEL AVE,2014-04-08,80000,0.34,3130.0,18000.0,90600.0,108600.0,1324.00000,CRAWL,1951.0,FRAME,C,3.0,1.0,0.0
55339,SINGLE FAMILY,98 ORIEL AVE,2016-10-21,225500,0.35,3130.0,18000.0,65300.0,83300.0,888.00000,PT BSMT,1950.0,FRAME,C,3.0,1.0,0.0
49521,SINGLE FAMILY,98 ORIEL AVE,2016-06-13,165000,0.35,3130.0,18000.0,65300.0,83300.0,888.00000,PT BSMT,1950.0,FRAME,C,3.0,1.0,0.0
38161,SINGLE FAMILY,980 MALQUIN DR,2015-09-29,390000,0.19,7332.0,26000.0,262500.0,288500.0,2661.00000,CRAWL,2015.0,FRAME,B,4.0,2.0,1.0
33136,SINGLE FAMILY,980 MALQUIN DR,2015-06-25,380300,0.19,7332.0,26000.0,262500.0,288500.0,2661.00000,CRAWL,2015.0,FRAME,B,4.0,2.0,1.0
32016,SINGLE FAMILY,99 ORIEL AVE,2015-06-12,125500,0.34,3130.0,18000.0,99300.0,118400.0,1100.00000,PT BSMT,1950.0,FRAME,C,3.0,2.0,0.0
40015,SINGLE FAMILY,99 ORIEL AVE,2015-11-10,228550,0.34,3130.0,18000.0,99300.0,118400.0,1100.00000,PT BSMT,1950.0,FRAME,C,3.0,2.0,0.0