In [10]:
import pandas as pd
import numpy as np

filename = "Nashville_housing_data_2013_2016.csv"
df = pd.read_csv(filename)

In [11]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Parcel ID,Land Use,Property Address,Suite/ Condo #,Property City,Sale Date,Sale Price,Legal Reference,...,Building Value,Total Value,Finished Area,Foundation Type,Year Built,Exterior Wall,Grade,Bedrooms,Full Bath,Half Bath
0,0,0,105 03 0D 008.00,RESIDENTIAL CONDO,1208 3RD AVE S,8,NASHVILLE,2013-01-24,132000,20130128-0008725,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,105 11 0 080.00,SINGLE FAMILY,1802 STEWART PL,NaN,NASHVILLE,2013-01-11,191500,20130118-0006337,...,134400.0,168300.0,1149.00000,PT BSMT,1941.0,BRICK,C,2.0,1.0,0.0
2,2,2,118 03 0 130.00,SINGLE FAMILY,2761 ROSEDALE PL,NaN,NASHVILLE,2013-01-18,202000,20130124-0008033,...,157800.0,191800.0,2090.82495,SLAB,2000.0,BRICK/FRAME,C,3.0,2.0,1.0
3,3,3,119 01 0 479.00,SINGLE FAMILY,224 PEACHTREE ST,NaN,NASHVILLE,2013-01-18,32000,20130128-0008863,...,243700.0,268700.0,2145.60001,FULL BSMT,1948.0,BRICK/FRAME,B,4.0,2.0,0.0
4,4,4,119 05 0 186.00,SINGLE FAMILY,316 LUTIE ST,NaN,NASHVILLE,2013-01-23,102000,20130131-0009929,...,138100.0,164800.0,1969.00000,CRAWL,1910.0,FRAME,C,2.0,1.0,0.0

In [12]:
#remove useless or duplicate info columns
df = df.drop(['Unnamed: 0', 'Unnamed: 0.1', 'Parcel ID','State', 'City', 'Legal Reference', 'image', 'Tax District', 'Sold As Vacant', 'Suite/ Condo   #', 'Property City', 'Multiple Parcels Involved in Sale', 'Owner Name', 'Address'], axis = 1)

In [13]:
df.count()

Land Use            56636
Property Address    56477
Sale Date           56636
Sale Price          56636
Acreage             26017
Neighborhood        26017
Land Value          26017
Building Value      26017
Total Value         26017
Finished Area       24166
Foundation Type     24164
Year Built          24165
Exterior Wall       24165
Grade               24165
Bedrooms            24159
Full Bath           24277
Half Bath           24146
dtype: int64

In [14]:
#copied from Maria Victoria's notebook

residence =['RESIDENTIAL CONDO', 'SINGLE FAMILY', 'APARTMENT: LOW RISE (BUILT SINCE 1960)','DUPLEX',
       'CONDO', 'ZERO LOT LINE', 'RESIDENTIAL COMBO/MISC', 'TRIPLEX','QUADPLEX',
                'DORMITORY/BOARDING HOUSE', 'MOBILE HOME', 'PARSONAGE']
    
commerical = ['SMALL SERVICE SHOP', 'TERMINAL/DISTRIBUTION WAREHOUSE',
       'NON-PROFIT CHARITABLE SERVICE',
       'METRO OTHER THAN OFC, SCHOOL,HOSP, OR PARK', 'NIGHTCLUB/LOUNGE',
       'MORTUARY/CEMETERY', 'PARKING LOT','OFFICE BLDG (ONE OR TWO STORIES)', 
        'CLUB/UNION HALL/LODGE', 'LIGHT MANUFACTURING',
       'ONE STORY GENERAL RETAIL STORE', 'DAY CARE CENTER','CHURCH']
    
vacant = ['VACANT RES LAND', 'VACANT COMMERCIAL LAND', 'VACANT RURAL LAND','VACANT ZONED MULTI FAMILY', 
              'VACANT RESIDENTIAL LAND','VACANT RESIENTIAL LAND']
    
other = ['GREENBELT','GREENBELT/RES\nGRRENBELT/RES']

In [15]:
#create dataframe with only rows that are residence
df_housing = df[(df['Land Use'].isin(residence))]

In [16]:
df_housing.count()

Land Use            51312
Property Address    51218
Sale Date           51312
Sale Price          51312
Acreage             24214
Neighborhood        24214
Land Value          24214
Building Value      24214
Total Value         24214
Finished Area       23599
Foundation Type     23597
Year Built          23598
Exterior Wall       23598
Grade               23598
Bedrooms            23595
Full Bath           23598
Half Bath           23488
dtype: int64

In [ ]:
#house_type will be one of these 3 lists
apt = ['RESIDENTIAL CONDO', 'APARTMENT: LOW RISE (BUILT SINCE 1960)','DUPLEX',
       'CONDO','RESIDENTIAL COMBO/MISC', 'TRIPLEX','QUADPLEX', 'DORMITORY/BOARDING HOUSE']
house = ['ZERO LOT LINE', 'SINGLE FAMILY', 'MOBILE HOME', 'PARSONAGE']

#use list index # when calling house_cat function
house_str = ['Apt', 'House']

def res_type(house_type, house_str):
    df_housing['Resident Type'] = df_housing['Land Use'].where(df['Land Use'].isin(house_type), house_str)
#    df['Resident Type'] = np.where(df['Land Use'].isin(house_type), house_str)
    #df_housing['Land Use'].isin(house_type)['Resident Type'] = house_str
    return df_housing
#    df_housing.loc[(df_housing['Land Use'].isin(house_type)), 'Resident Type'] = house_str

#    for x in df_housing['Land Use']:
#        if x.isin(house_type):
#            df_housing['Resident Type'] = house_str    #Resident Type is new column

In [79]:
#current working code
def res_type(df_housing, house_type, house_str):
    df_housing.loc[df_housing['Land Use'].isin(house_type), 'Resident Type'] = house_str
#    df_housing.loc[df_housing['Land Use'].isin(apt), 'Resident Type'] = 'Apt'
 #   df_housing.loc[df_housing['Land Use'].isin(house), 'Resident Type'] = 'House'
    return df_housing
    #df_housing['Land Use'].isin(house):
    #    return 'House'
    
#df_housing['Resident Type'] = df_housing.apply(res_type, axis=1)

df_housing['Resident Type'].head()

0      Apt
1    House
2    House
3    House
4    House
Name: Resident Type, dtype: object

In [73]:
#alternate working code
apt = ['RESIDENTIAL CONDO', 'APARTMENT: LOW RISE (BUILT SINCE 1960)','DUPLEX',
       'CONDO','RESIDENTIAL COMBO/MISC', 'TRIPLEX','QUADPLEX', 'DORMITORY/BOARDING HOUSE']
house = ['ZERO LOT LINE', 'SINGLE FAMILY', 'MOBILE HOME', 'PARSONAGE']

def res_type(df_housing):
    df_housing['Resident Type'] = np.where(df_housing['Land Use'].isin(apt), 'Apt', 'House')
 #   df_housing['Resident Type'] = df_housing['Land Use'].where(df['Land Use'].isin(house), 'House')
    return df_housing

In [74]:
res_type(df_housing)

df_housing['Resident Type'].head()

C:\Users\kenisha.priester\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0      Apt
1    House
2    House
3    House
4    House
Name: Resident Type, dtype: object

In [52]:
df_housing['Land Use'].isin(apt)

0         True
1        False
2        False
3        False
4        False
5        False
6         True
7        False
8        False
9        False
10       False
11       False
12       False
14       False
15       False
16       False
17        True
18        True
19        True
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
30        True
         ...
56601    False
56602    False
56603    False
56604    False
56605    False
56606    False
56607    False
56608     True
56609     True
56610     True
56611     True
56613     True
56614    False
56615    False
56619     True
56620     True
56622     True
56623     True
56624     True
56625     True
56626     True
56627     True
56628     True
56629     True
56630     True
56631     True
56632     True
56633     True
56634     True
56635     True
Name: Land Use, Length: 51312, dtype: bool

In [62]:
res_type(apt, house_str[0])
res_type(house, house_str[1])

df_housing['Resident Type'].head()

C:\Users\kenisha.priester\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

0            House
1    SINGLE FAMILY
2    SINGLE FAMILY
3    SINGLE FAMILY
4    SINGLE FAMILY
Name: Resident Type, dtype: object